/*style body*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}

/* style header*/
header {
    background-color: blueviolet;
    color: white;
    padding: 20px;
    text-align: center;
}

/*style nav ul*/
nav ul {
    list-style: none;
    padding: 0;
}

/*style nav ul li*/
nav ul li {
    display: inline;
    margin: 10px;
}

/*style ul li a*/
nav ul li a {
    color: white;
    text-decoration: none;
}

/*style section*/
section {
    padding: 20px;
    background-color: rgb(117, 94, 138);
    margin: 20px;
    border-radius: 10px;
}

/*style footer*/
footer {
    text-align: center;
    padding: 10px;
   background-color: rgb(102, 87, 117);
}

/*style hover link menu*/
a:link, a:visited {
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: dodgerblue;
    color: white;
}
