/*style body*/
body{
    font-family: 'segoe UI', tahoma, geneva verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color:ghostwhite;
}

/*style header*/
header{
    background-color: darkblue;
    color: white;
    padding: 20px;
    text-align: center;
}

/*style nav u1*/
nav u1{
    list-style: none;
    padding: 0;
}


/*style nav u1 li*/
nav ul li{
    display: inline;
    margin: 10px;
}

/*style nav u1 li a*/
nav ul li a{
color: white;
text-decoration: none;
}

/*style section*/
section{
    padding: 20px;
    background-color: darkgoldenrod;
    margin: 20px;
    border-radius: 10px;
}
 
/*style footer*/
footer{
    text-align: center;
    padding: 10px;
    background-color: white;
}

/*style hover link menu*/
a:link,a:visited{
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active{
    background-color: dodgerblue;
    color: white;
}
