/*style body*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

/*style header*/
header {
    background-color: rgb(8, 202, 34);
    color: white;
    padding: 20px;
    text-align: center;
}

/*style nav ul*/
nav ul {
    list-style: none;
    padding: 0;
}

/*style nav ul li*/
nav ul li {
    display: inline;
    margin: 10px;
}

/*style nav ul li a*/
nav ul li a {
    color: white;
    text-decoration: none;
}

/*style section*/
section {
    padding: 20px;
    background-color: skyblue;
    margin: 20px;
    border-radius: 10px;
}

/*style footer*/
footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(196,  201, 197);
}

/*style hover link menu*/
a:link, a:visited {
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
   display: inline-block;
}

a:hover, a:active {
    background-color: dodgerblue;
    color: white;
}
