/*style body*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* style header*/
header{
    background-color: rgba(95, 158, 160, 0.637);
    color: black;
    padding: 20px;
    text-align: center;
}
    /*style nav ul*/
    nav ul{
        list-style: none;
        padding: 0;
    }
    
    /*style nav ul li*/
    nav ul li {
        display: inline;
        margin: 10px;
    }

    /*style nav ul li a*/
    nav ul li a{
        color: deepskyblue;
        text-decoration: none;

    }

    /*style section*/
    section{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 20px;
        background-color: rgba(95, 158, 160, 0.815);
        margin: 20px;
        border-radius: 10px;
    }

    /*style footer*/
    footer{
        text-align: center;
        padding: 10px;
        background-color: rgba(95, 158, 160, 0.616);
    }

    /*style hover link menu*/
    a:link, a:visited {
        color: white;
        border: 1px solid white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    a:hover,a:active{
        background-color: cadetblue;
        color: cadetblue;
    }
          
    
      
         

    